extends ../layouts/application.jade

block title
  title Home

block content
  .jumbotron
    h1 NodeJS community linklog
    p Made a library? Written a blog post? Found a useful tutorial? Share it with the NodeJS community here or just enjoy what everyone else has found!
    span.remove-jumbotron.glyphicon.glyphicon-remove

  if posts
    .col-md-12.col-sm-12
      each post in posts
        .row.post
          .col-md-2.col-sm-12.image
            img(src=post._author.avatar)
          .col-md-10.col-sm-12.details
            h5= post.title
            a(href=post.link) Read the blog article
            p= post.description
            span.date= moment(post.published_at).format('MM/DD/YYYY')
            = ' - '
            span.author
              if post._author.github_url === ''
                = post._author.username
              else
                a(href=post._author.github_url, target='_blank')= post._author.username


    include ../includes/paginate
