extends ../layouts/application.jade

block title
  title NodeFlow

block content

  #post
    h1= post.title
    .link
      a.sublink(href=post.link, target='_blank') Read the blog article
    p= post.description
    .show-author
      img.thumb(src=post._author.avatar)
      = ' - '
      if post._author.github_url === ''
        = post._author.username
      else
        a.sublink(href=post._author.github_url, target='_blank')= post._author.username



